@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import "../../node_modules/bulma/bulma.sass";

@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

// Set your brand colors
$purple: #000000;
$pink: #111010;
$brown: #ffffff;
$beige-light: #f5f5f5;
$darker-red: #f5f5f5;

// Update Bulma's global variables
$family-sans-serif: 'Poppins', cursive;
$family-paragraph: 'Montserrat', sans-serif;
$grey-dark: $brown;
$light: $beige-light;
$primary: rgb(49, 56, 83);
$link: rgb(10, 10, 10);
$widescreen-enabled: false;
$fullhd-enabled: false;
$button-color: rgb(49, 56, 83);


// Update some of Bulma's component variables
$body-background-color: #FCFCFC;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$title-size: 60px;

// Import what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";

.button {
  border-radius: 0px;
}

.message-header {
  background-color: #010001;
}


.small-picture {
  max-width: 150px;
}

.column.is-12-tablet {
  flex: none;
  width: 100%;
  padding: 20px;
}

.container {
  margin: 20px;
}

.container-wrap {
  margin: 100px;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
}

.title.is-1 {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;}

p.title {
  color: #000000;
}

.input, .textarea, .select select {
  background-color: white;
  border-color: #010001;
  color: #010001;
}

.contain {
  margin-top: 20px;
}


#parallax-1 {
  background: url(https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid 010001;
}

#parallax-1 hr {
  background: 010001;
}

