@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import "../../node_modules/bulma/bulma.sass";

@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');

// Set your brand colors
$purple: #000000;
$pink: #111010;
$brown: #ffffff;
$beige-light: #f5f5f5;
$darker-red: #f5f5f5;

// Update Bulma's global variables
$family-sans-serif: 'Bebas Neue', cursive;
$family-paragraph: 'Montserrat', sans-serif;
$grey-dark: $brown;
$light: $beige-light;
$primary: rgb(49, 56, 83);
$link: rgb(0, 4, 255);
$widescreen-enabled: false;
$fullhd-enabled: false;
$button-color: rgb(49, 56, 83);


// Update some of Bulma's component variables
$body-background-color: #8a9ef5;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$title-size: 60px;

// Import what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";

.button {
  border-radius: 0px;
}

.containers {
  margin: 40px;
  background-color: rgb(224, 191, 191);
}

.container {
  margin: 20px;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
}



p.title {
  color: #000000;
}

.input, .textarea, .select select {
  background-color: white;
  border-color: #cc0f35;
  border-radius: 4px;
  color: #000000;
}

.container-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#parallax-1 {
  background: url(https://source.unsplash.com/featured/?festivals);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid coral;
}

#parallax-1 hr {
  background: coral;
}

#parallax-2 {
  background: url(https://source.unsplash.com/featured/?events);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid yellow;
}

#parallax-2 hr {
  background: yellow;
}

#parallax-3 {
  background: url(https://source.unsplash.com/featured/?concerts);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid hotpink;
}

#parallax-3 hr {
  background: hotpink;
}